    body {
      background-color: #d9b753;
      text-align: center;
      display: inline-block;
    }

    .container {
      text-align: center;
      margin: auto;
    }

    #display {
      background-color: #d68530;
      font-size: 100px;
      border: none;
      outline: none;
      color: #503110;
      width: 950px;
      height: 172px;
      margin: 15px;
      text-align: center;
    }

    .buttons {
      width: 1300px;
      margin: auto;
    }

    .equalButton {
      height
    }

    button {
      background-color: #31bbd9;
      font-size: 100px;
      border: none;
      outline: none;
      color: #0b474d;
      width: 213px;
      height: 172px;
      margin: 15px;
      transition-duration: 200ms;
    }

    button:hover {
      width: 203px;
      height: 162px;
      margin: 20px;
      background-color: #2698b1;
    }

    #outputDiv {
      background-color: #d68530;
      font-size: 100px;
      border: none;
      outline: none;
      color: #503110;
      width: 300px;
      height: 300px;
      margin: 15px;
      text-align: center;
      display: inline-block;
    }

    .active {
      width: 203px;
      height: 162px;
      margin: 20px;
      background-color: #2698b1;
    }

    .spinner {
      width: 100px;
      height: 100px;
      border: solid 5px #d68530;
      border-top: solid 6px #4b2fbb;
      border-radius: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      animation: spin 1s infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
